@media only screen and (min-width: 320px) and (max-width: 677px) {
    .section1 {
        width: 100%;
    }


    .section1 .section1-inner .section1-text {
        font-size: 33px;
    }   

    .logo {
        background-image: url("../images/Logo_mobile.svg");
        background-repeat: no-repeat;
        width: 275px;
        font-size: 12px;
        margin-left: -15px;
        margin-top: 15px;
    }
    nav {
        width: 31%;
        margin-right: 14%;
margin-top: -1%;
    }


    
    .header nav ul li a {
        font-size: inherit;
    }
    
    .header nav ul {
        padding-left: 0px;
        width: 136.617px;
        margin-left: -10px;
        margin-top: 25px;
    }
    /*test for banner */
    
    
    
    .section1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        border-radius: 25px;
    }
    
    .section1-inner {
        position: relative;
        z-index: 2;
    }
    
    .section1-text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
    }
    
    .section1-home {
        background-color: #000000;
    }
    
    .section1-about {
        background-color: #ffffff;
    }
    
    .collapse-header {
        position: relative;
        height: 47px;
        background: #ff6060;
        display: flex;
        align-items: center;
        justify-content: left;
        font-weight: bold;
        cursor: pointer;
        padding-left: 15px;
        color: #ffffff;
    }
    
    
    .collapse-content {
        background: #f6f6f6;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    
    .collapse-content.collapsed {
        height: 0;
    }
    
    .collapse-content.expanded {
        height: auto;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 400;
        color: #ff6060;
    }
    
    .collapse-container .content {
        width: 90%;
        left: 5%;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
    
    .chevron {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        width: 0.45em;
        vertical-align: top;
    }
    
    .chevron.open:before {
        transform: rotate(135deg);
    }
    
    #about {
        margin-left: -19%;
    width: 79%;
    }
    .gallery {
        width: 100%;
        background: unset;
    }
    
    footer .logo {
        margin-left: 15%;
    }
    .privacy {
        width: 100%;
    }
   
      
    
    .collapse-container {
        margin-bottom: 2rem;
    }
    
    .content {
        width: 100%;
    }
    
    collapse-header.open .chevron {
        transform: translateY(-50%) rotate(140deg);
    }
    .body_container {
        height: 88rem;
    }
    
    
    
    .Body_404 {
        background-image: url('../images/404_mobile.svg');
        width: 12rem;
        margin-left: 17%;
        
    }
    
    .page_notfound {
        display: none;
    }
    
    .back_to_home {
        background-image: url('../images/Oups_mobile.svg');
        background-repeat: no-repeat;
        width: 262px;
        margin-left: -27px;
        
        padding-top: 11rem;
        margin-top: 0px;
    }
    .Container_404 {
        height: 25rem;
        
    }
    
    .App > div:nth-child(2) {
        width: 97%;
        
    }
    .container {
        flex-direction: column;
    }
    
    .tags {
        display: unset;
        font-size: 12px;
    }
    .logement_tags {
    margin-right: 0.2%;
}
    .content_collapse .collapse-container {
        margin-bottom: 2rem;
        width: 100%;
        margin-top: 13%;
      }    
    .content_collapse  {
    flex-direction: column;
    width: 100%;
}

    .rating-stars {
        margin-top: 16%;
    }

    .star_icon {
    width: 10%;
}
    
    .round-image {
        left: 77%;
top: 121%;
        position: absolute;
    }
    
    .host {
        margin-top: 68%;
        margin-left: 59%;
        width: 20%;
        position: absolute;
      }
    
      .two-tags-host_round {
        left: 77%;
        top: 124%;
      }
     
    .footer-logo {
        background-image : url(../images/kasa_white_logo_mobile.svg)
        
        
    }



    @media screen and (min-width: 320px) and (max-width: 360px) {
        .two-tags-host {
            margin-top: 61%;
            margin-left: 59%;
          }
      }

      @media screen and (min-width: 360px) and (max-width: 375px) {
        .two-tags-host {
        margin-top: 55%;
        margin-left: 54%;
        }
      }

    @media screen and (min-width: 375px) and (max-width: 678px) {
        .two-tags-host {
            margin-top: 52%;
            margin-left: 53%;
          }
      }

      @media screen and (min-width: 375px) and (max-width: 526px) {
        .two-tags-host {
            margin-top: 47%;
          }
      }

      @media screen and (min-width: 527px) and (max-width: 585px) {
        .two-tags-host {
            margin-top: 43%;
          }
          .two-tags-host_round {
            left: 77%;
            top: 123%;
          }
      }

      @media screen and (min-width: 636px) and (max-width: 677px) {
        .two-tags-host {
            margin-top: 41%;
          }
          .two-tags-host_round {
            top: 127%;
          }
      }

      @media screen and (min-width: 375px) and (max-width: 660px) {
        .round-image  {
            top: 121%;
          }
      }

      @media screen and (min-width: 586px) and (max-width: 600px) {
        .two-tags-host {
            margin-top: 42%;
            margin-left: 53%;
          }
      }


      @media screen and (min-width: 337px) and (max-width: 357px) {
        .host {
            margin-top: 61%;
          }
      }

      @media screen and (min-width: 358px) and (max-width: 381px) {
        .host {
            margin-top: 58%;
          }
      }

      @media screen and (min-width: 382px) and (max-width: 409px) {
        .host {
            margin-top: 58%;
          }
      }
      @media screen and (min-width: 408px) and (max-width: 600px) {
        .host {
            margin-top: 55%;

          }
      }

      @media screen and (min-width: 416px) and (max-width: 600px) {
        .host {
            width: 17%;
            
          }
      }

      @media screen and (min-width: 416px) and (max-width: 600px) {
        .host {
            margin-top: 50%;
            
          }
      }

    footer {
        margin-top: 400rem;
    }

    .gallery_404 {
        width: 75%;
    }
}


@media screen and (min-width: 678px) and (max-width: 819px) {
    nav {
        margin-top: -2%;
        margin-right: -10%;
        width: 44%;
      }
  }


  

