.Container_404 {
    background-color: white;
    margin-top: 8rem;
    height: 40rem;
}
.Body_404  {
    
    width: 37rem;
    background-image: url("../images/404_desktop.svg");
    background-repeat: no-repeat;
    height: 27rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: -3rem;
}

.page_notfound {
margin-top: 25rem;
width: 50rem;
margin-left: -7rem;
font-size: 2rem;
color: #FF6060;

}

.back_to_home {
padding-top: 6rem;

}

.back_to_home a {
color: #FF6060;
text-decoration: underline;
}
.gallery_404 {
display: flex;
justify-content: center;

}