.header {
  margin-right: 12%;
  
  
  nav {
   
    
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        a {
          text-decoration: none;
          color: #FF6060;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 24px;
          line-height: 34.22px;
        }
      }
    }
  }
}    